<div class="container">
  <div class="row">
    <app-spinner [showSpinner]="!Orders"></app-spinner>
  </div>
  <div class="row" *ngIf="Orders">
    <div class="col-sm-8">
      <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search by order #" />
    </div>
    <div class="col-sm-4">
        <button type="button" class="Polaris-Button Polaris-Button--primary" (click)="process()">
            <span class="Polaris-Button__Content"><span><b>
                  Process</b></span>
            </span>
          </button>
    </div>
  </div>
  <hr *ngIf="Orders" />
<div class="row" *ngFor="let order of Orders | orderFilter:searchText">
  <div class="col-sm-12">
    <app-order-details [order]="order"></app-order-details>
  </div>
</div>
</div>